{% from "helpers.jinja" import safe_docstring %}

{{ safe_docstring(package_description) }}
from golem_node_api_client.client import AuthenticatedClient, Client

__all__ = (
    "AuthenticatedClient",
    "Client",
)